body{
    background-color: rgb(3, 3, 68);
}

h1{
    color: lightgrey;
    font-size: 6rem;
    font-weight: lighter;
}

.my_container{
    width: 40%;
    margin: auto;
    background-color: rgb(201, 174, 140);

}

input{
    width: 250px;
}